In [8]:
import numpy as np
import pandas as pd

data = {
    'Age': [23, 25, 27, 29, 29],
    'Likes English': [0, 1, 1, 0, 0],
    'Likes AI': [0, 1, 0, 1, 0],
    'Salary': [200, 400, 300, 500, 400]
}

df = pd.DataFrame(data)
df

   Age  Likes English  Likes AI  Salary
0   23              0         0     200
1   25              1         1     400
2   27              1         0     300
3   29              0         1     500
4   29              0         0     400

#### Câu hỏi 9 Tính SSE của bộ dữ liệu khi thuộc tính ‘Likes AI’ được chọn là node gốc?

In [16]:
def sse(group, target_col):
    mean_value = group[target_col].mean()
    return (1/len(group)*(group[target_col] - mean_value) ** 2).sum()

# Chia tâp dữ liệu thành 2 nhóm dựa trên cột 'Likes AI'
group_0 = df[df['Likes AI'] == 0]
group_1 = df[df['Likes AI'] == 1]

# Tính SSE cho từng nhóm
sse_group_0 = sse(group_0, 'Salary')
sse_group_1 = sse(group_1, 'Salary')

# Tính tổng SSE
sse_total_likes_ai = (sse_group_0 + sse_group_1)

print(f"SSE for 'Likes AI' as root: {sse_total_likes_ai}")

SSE for 'Likes AI' as root: 9166.666666666666

#### Câu hỏi 10 Tính SSE của bộ dữ liệu khi thuộc tính ‘Age’ được chọn là node gốc với điều kiện phân chia thành tập D1 và D2 là ‘Age <= 24’?

In [19]:
# Chia tập dữ liệu thành tập D1 và D2 là 'Age <= 24'
group_0 = df[df['Age'] <= 24]
group_1 = df[df['Age'] > 24]

# Tính SSE cho từng nhóm
sse_group_0 = sse(group_0, 'Salary')
sse_group_1 = sse(group_1, 'Salary')

# Tính tổng SSE
sse_total_age = (sse_group_0 + sse_group_1)

print(f"SSE for 'Age' <= 24 = {sse_total_age}")

SSE for 'Age' <= 24 = 5000.0

#### Câu hỏi 11 Sắp xếp các đoạn code phân loại trên bộ dữ liệu CPU Machine dựa vào Decision Tree Regressor:

In [20]:
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor

# Load dataset
machine_cpu = fetch_openml(name='machine_cpu')
machine_data = machine_cpu.data
machine_Labels = machine_cpu.target

# Split train:test = 8:2
X_train, X_test, y_train, y_test = train_test_split(
    machine_data, 
    machine_Labels, 
    test_size=0.2, 
    random_state=42)

# Define model
tree_reg = DecisionTreeRegressor()

# Train
tree_reg.fit(X_train, y_train)

# Predict and evaluate
y_pred = tree_reg.predict(X_test)
mean_squared_error(y_test, y_pred)

c:\Users\quanb\anaconda3\envs\ts\lib\site-packages\sklearn\datasets\_openml.py:322: UserWarning: Multiple active versions of the dataset matching the name machine_cpu exist. Versions may be fundamentally different, returning version 1. Available versions:
- version 1, status: active
  url: https://www.openml.org/search?type=data&id=230
- version 2, status: active
  url: https://www.openml.org/search?type=data&id=733

  warn(warning_msg)

9061.815476190477